body {
  shape-rendering: crispEdges;
}

.year_caption {
	font-size: 1.1em;
	font-weight: 600;
	text-anchor: middle;
}

.day_caption {
	font-size: 0.8em;
	text-anchor: end;
}

.month_caption {
	font-size: 1em;
	text-anchor: end;
}

.day {
  fill: #fff;
  stroke: #ccc;
}

#key path.domain {
  stroke: #ccc;
}

#key .tick text {
	fill: black;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

.heatmap_tooltip_defaut {
  background-color: #eee;
}

.heatmap_tooltip {
  position: absolute;
  min-width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 6px;
  border-radius: 1px;
  pointer-events: none;
  height:auto;
  overflow:auto;
  font-size: 0.8em;
}

.heatmap_tooltip>.caption {
  font-weight: 500;
  font-size: 1em;
}

.heatmap_tooltip>.labels {
  font-weight: 300;
}
