body {
  shape-rendering: crispEdges;
}

.year_caption {
	font-size: 1.1em;
	font-weight: 600;
	text-anchor: middle;
}

.day_caption {
	font-size: 0.8em;
	text-anchor: end;
}

.month_caption {
	font-size: 1em%;
	text-anchor: end;
}

.day {
  fill: #fff;
  stroke: #ccc;
}

.colorscale {
	stroke: #eee;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}
